@using StockPortfolio.Models

<div class="bg-blue-100 border-b border-light-secondary-300 text-light-secondary-400 px-4 py-3">
    <div class="flex flex-col justify-between items-center md:items-end gap-4 py-4 md:flex-row">
        <div class="hidden lg:flex flex-col text-sm font-roboto">
            <TelerikDateRangePicker Min="@MinDate" Max="@MaxDate"
                                    @bind-StartValue="@StartDate"
                                    @bind-EndValue="@EndDate"
                                    OnChange="@(() => DatesChanged())"/>
        </div> @*date*@

        <ul class="flex flex-row justify-center text-lg font-roboto">
            @foreach (TimeFilter filter in TimeFilters)
            {
                <li class="mx-1.5">
                    @{ 
                        string activeFilterStyle = "";
                        if (ActiveTimeFilter.DurationInHours == filter.DurationInHours && ActiveTimeFilter.StartDate.Equals(filter.StartDate))
                            activeFilterStyle = "font-bold border-b-2 border-light-secondary-400";
                    }
                    <span class="list-item cursor-pointer @activeFilterStyle"
                          @onclick="@(() => OnTimeFilterClick(filter))">
                        @filter.Name
                    </span>
                </li>
            }
        </ul> @*interval*@

        <div class="flex flex-row text-center mx-auto md:mx-0">
            <TelerikDropDownList Data="@IntervalFilters" TextField="@(nameof(IntervalFilter.Name))" ValueField="@(nameof(IntervalFilter.Name))"
                                 TItem="IntervalFilter" TValue="string" Value="@ActiveIntervalFilter.Name"
                                 ValueChanged="@((string selectedFilterName) => OnIntervalFilterClick(selectedFilterName))"
                                 Width="140px" PopupWidth="135px" PopupHeight="auto">
                <ValueTemplate>
                    <span class=""> Interval: @((context as IntervalFilter).Name)</span>
                </ValueTemplate>
            </TelerikDropDownList>

            <TelerikDropDownList Value="@ChartType" Data="@AvailableChartTypes" Width="140px" PopupWidth="140px" PopupHeight="auto"
                                 ValueChanged="@ChartTypeChanged">
                <ValueTemplate>
                    @{
                        <span class="flex flex-row gap-2 m-auto ml-0">
                            <img src="@($"css/images/{context.Text.ToLowerInvariant()}-icon.png")" />
                            @context.Text.Substring(0, Math.Min(context.Text.Length, 6))
                        </span> }
                </ValueTemplate>
                <ItemTemplate>
                    @{
                        <span class="flex flex-row gap-2">
                            <img src="@($"css/images/{context.Text.ToLowerInvariant()}-icon.png")" />
                            @context.Text.Substring(0, Math.Min(context.Text.Length, 6))
                        </span> }
                </ItemTemplate>
            </TelerikDropDownList>
        </div> @*chart type*@
    </div>
</div>