@using StockPortfolio.Dispatchers;
@using StockPortfolio.Models;

<div>
    <TelerikStockChart @ref="@StockChartRef" DateField="@(nameof(StockIntervalDetails.Date))">
        <StockChartSeriesItems>
            <StockChartSeries Type="@ChartType" Data="@ChartData"
                              OpenField="@(nameof(StockIntervalDetails.Open))"
                              HighField="@(nameof(StockIntervalDetails.High))"
                              LowField="@(nameof(StockIntervalDetails.Low))"
                              CloseField="@(nameof(StockIntervalDetails.Close))"
                              Color="#39a6a3"
                              DownColor="#cf0000">

            </StockChartSeries>
        </StockChartSeriesItems>
    
        <StockChartCategoryAxes>
            <StockChartCategoryAxis Type="@ChartCategoryAxisType.Date"
                                    BaseUnit="@IntervalFilter.Interval.Unit"
                                    BaseUnitStep="@IntervalFilter.Interval.Step">
                <StockChartCategoryAxisCrosshair Visible="true">
                    <StockChartCategoryAxisCrosshairTooltip Visible="true" />
                </StockChartCategoryAxisCrosshair>
                <StockChartCategoryAxisLabels>
                    <StockChartCategoryAxisLabels Step="@ChartLabelStep" />
                </StockChartCategoryAxisLabels>
                <StockChartCategoryAxisMajorGridLines Visible="true" />
            </StockChartCategoryAxis>
        </StockChartCategoryAxes>
    
        <StockChartValueAxes>
            <StockChartValueAxis>
                <StockChartValueAxisCrosshair Visible="true">
                    <StockChartValueAxisCrosshairTooltip Visible="true" />
                </StockChartValueAxisCrosshair>
            </StockChartValueAxis>
        </StockChartValueAxes>
    
        <StockChartTooltip Visible="true" />
    </TelerikStockChart>
</div>