@using StockPortfolio.Models
@using StockPortfolio.Dispatchers

<div>
    <TelerikChart @ref="@ChartRef">
        <ChartSeriesItems>
            <ChartSeries Type="ChartSeriesType.Pie" Data="@Data"
                         Field="@nameof(Stock.Price)" CategoryField="@nameof(Stock.Symbol)">
                <ChartSeriesLabels Template="@( $"#=category#\n$#=value#" )" Visible="@ChartLabelsVisible" />
            </ChartSeries>
        </ChartSeriesItems>
        <ChartLegend Position="ChartLegendPosition.Bottom">
        </ChartLegend>
    </TelerikChart>
</div>